<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Brendan Baldwin</title>
        <link rel="stylesheet" href="/assets/main.css">
        <link rel="stylesheet" href="/assets/pygments_style.css">
    </head>
    <body>
        <header>
            <h1>
                Brendan Baldwin
            </h1>
        </header>
        <div id="content">
            {{ content }}
        </div>
        <footer>
            <del>&copy;2011</del> (copyright is for squares)
            This site hosted by <a href="http://pages.github.com/">Github Pages</a>
        </footer>
    </body>
</html>
